<div class="container-fluid interior preguntas">
  <div class="row banner"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Preguntas</h1>
        <p id="notice"><%= notice %></p>
        <div class="bajada">
          <span>¿Tienes dudas? Preguntale a la comunidad.</span>
          <%= link_to 'Crear Pregunta', new_question_path, :class => 'btn crear float-right' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% @questions.each do |question| %>
          <div class="item">
            <%= link_to 'Ver', question, :class => 'ver' %>
            <h3><%= question.title %></h3>
            <p>
              <span><em>Creada el : <%= question.created_at %></em></span>
              | <span><%= question.comments.size %> Comentarios</span>
            </p>
            <div class="acciones">
              <% if can? :manage, question %>
                <%= link_to edit_question_path(question) do %>
                  <i class="fa fa-edit"></i>
                   <span>Editar Pregunta</span>
                <% end %>
                <%= link_to question, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash"></i>
                   <span>Borrar</span>
                <% end %>
              <% end %>

          </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
