<div class="detalle-pregunta container">
	<div class="row justify-content-center align-items-center">
		<div class="titulo col-md-10">
			<%= link_to 'Volver', questions_path, :class => 'btn float-left' %>
			<h2><%= @question.title %></h2>
		</div>
	</div>
	<div class="row justify-content-center align-items-center">
		<div class="descripcion col-md-10">
			<p><%= @question.description %></p>
			<div class="acciones">
			  <% if can? :manage, @question %>
				  <%= link_to 'Editar pregunta', edit_question_path(@question) %>
				<% end %>
			</div>
		</div>
		<div class="comentarios col-md-10">
			<h3>Comentarios</h3>
			<div id="comm">
				<ul>
					<%= render @question.comments %>
				</ul>
			</div>
			<% if current_user.present? %>
				<%= form_with model: Comment.new, url: [@question, Comment.new] do |f| %>
					<strong><%= f.label :Crear_comentario %></strong>
					<%= f.text_area :comment, class: 'form_with', required: true %>
					<%= f.submit :enviar, :class => 'btn float-right' %>
				<% end %>
				<% else %>
					<em>Inicia sesión para crear comentarios</em>
			<% end %>
		</div>
	</div>
</div>
