<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Título %>
    <%= form.text_field :title, id: :recipe_title %>
  </div>

  <div class="field">
    <%= form.label :Porciones %>
    <%= form.number_field :cant, id: :recipe_cant %>
  </div>

  <div class="field">
    <%= form.label :Foto %>
    <span class="btn-file">
        <i class="fa fa-camera"></i> Subir foto
        <%= form.file_field :photo, id: :recipe_photo %>
    </span>
  </div>

  <div class="field mitad">
    <%= form.label :Ingredientes %>
    <%= form.text_area :ingredients, id: :recipe_ingredients, :class => 'receta' %>
  </div>

  <div class="field mitad">
    <%= form.label :Preparación %>
    <%= form.text_area :directions, id: :recipe_directions, :class => 'receta' %>
  </div>

  <div class="actions">
    <%= form.submit "Ingresar", :class => 'btn' %>
  </div>
<% end %>
