<div class="container-fluid interior recetas">
  <div class="row banner"></div>
  <div class="container">
    <h1>Recetas</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="bajada">
          <span>Encuentra y comparte las mejores recetas sin gluten.</span>
          <%= link_to 'Crear Receta', new_recipe_path, :class => 'btn crear float-right' %>
        </div>
      </div>
    </div>
    <div class="row">
        <% @recipes.each do |recipe| %>
        <div class="col-md-3">
          <div class="modulo">
            <a href="<%= recipe_path(recipe) %>" class="">
              <div class="foto"><%= image_tag recipe.photo %></div>
              <h4><%= recipe.title %></h4>
                <div class="dato">
                  Cantidad: <span><%= recipe.cant %> porciones</span>
                </div>
                <div class="dato">
                  Tiempo: <span><%= recipe.duration.strftime("%H:%M") %></span>
                </div>
                <div class="dato likes">
                  <i class="fa fa-heart"></i><%= recipe.likes.count %>
                </div>
            </a>
            <div class="acciones">
              <% if can? :manage, recipe %>
                <%= link_to edit_recipe_path(recipe) do %>
                  <i class="fa fa-edit"></i>
                   <span>Editar</span>
                <% end %>
                <%= link_to recipe, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash"></i>
                   <span>Borrar</span>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
        <% end %>
  </div>
</div>
