<div class="detalle container">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag @recipe.photo, :class => 'img-fluid' %>
    </div>
    <div class="col-md-7">
      <%= link_to 'Volver', recipes_path, :class => 'btn' %>
      <h1><%= @recipe.title %></h1>
      <div class="receta-datos">
        <div class="acciones">
          <% if can? :manage, @recipe %>
            <%= link_to 'Editar receta ', edit_recipe_path(@recipe) %>
          <% end %>
        </div>
        <p><i class="fa fa-user"></i>Preparación para <%= @recipe.cant %> personas </p>
        <p><i class="fa fa-clock-o"></i>Tiempo de preparación: <%= @recipe.duration.strftime("%H:%M") %></p>
        <div class="dato likes">
          <i class="fa fa-heart"></i>
          <span class="num-like">
            <%= @recipe.likes.count %>
          </span>
          <div id="like" class="btn-like">
            <% if current_user.present? && !@recipe.likes.pluck(:user_id).include?(current_user.id) %>
                <%= link_to "Me gusta", recipe_likes_path(@recipe), method: :post, :remote => true %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>¿Cómo hacer <%= @recipe.title %> ?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <h3>Ingredientes:</h3>
        <p><%= @recipe.ingredients %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <h3>Preparación:</h3>
        <p><%= @recipe.directions %></p>
      </div>
    </div>
  </div>
</div>
