<div class="container-fluid">
  <div class="row inicio">
		<div class="container">
			<div class="row">
				<div class="col-md-5 db">
					<h2>Bienvenido a la primera <span>Comunidad celíaca</span> online de Chile <span class="texto">Encuentra y comparte la información que necesitas</span></h2>
				</div>
				<div class="col-md-7 db">
					<%= image_tag 'banner-desglutenado.png', :class => 'img-fluid' %>
				</div>
			</div>
		</div>
  </div>
	<div class="recetas">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Últimas recetas agregadas</h3>
					<%= link_to 'Ver todas', recipes_path, :class => 'btn ver-todo' %>
				</div>
			</div>
			<div class="row">
				<% @recipes.each do |recipe| %>
					<div class="col-md-3">
						<div class="modulo">
							<a href="<%= recipe_path(recipe) %>" class="">
							  <div class="foto"><%= image_tag recipe.photo %></div>
							  <h4><%= recipe.title %></h4>
									<div class="dato">
										Cantidad: <span><%= recipe.cant %> porciones</span>
									</div>
									<div class="dato">
										Tiempo: <span><%= recipe.duration.strftime("%H:%M") %></span>
									</div>
									<div class="dato likes">
										<i class="fa fa-heart"></i><%= recipe.likes.count %>
									</div>
						  </a>
					  </div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="locations">
		<div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>¿Dónde Comprar? Últimos agregados</h3>
          <%= link_to 'Ver todas', locations_path, :class => 'btn ver-todo' %>
        </div>
      </div>
			<div class="row">
				<div class="col-md-6">
			      <div id="map" class="map"></div>
            <script>
              var hash = <%= raw @hash.to_json %>;
            </script>
				</div>
				<div class="direccion col-md-6">
					<% @locations.each do |location| %>
							<div class="modulo">
								<a href="<%= locations_path %>">
                  <h5><%= location.title %></h5>
                  <p><span>Descripción:</span> <%= location.location %></p>
							  </a>
						  </div>

					<% end %>
			  </div>
			</div>
		</div>
	</div>
  <div class="row home preguntas">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title">¿Tienes dudas? Pregúntale a la comunidad</h3>
          <%= link_to 'Ver todas', questions_path, :class => 'btn ver-todo' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% @questions.each do |question| %>
            <div class="item">
              <%= link_to 'Ver', question, :class => 'ver' %>
              <h3><%= question.title %></h3>
              <p>
                <span><em>Creada por : <%= question.user.name %></em></span>
                | <span><em>Fecha : <%= question.created_at.to_date %></em></span>
                | <span><%= question.comments.size %> Comentarios</span>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
