<tr>
  <td><%= location.title %></td>
  <td><%= location.description %></td>
  <td><%= location.location %></td>
  <td><%= link_to 'Show', location %></td>
  <% if can? :manage, location %>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
