<div class="container">
	<p>
	  <strong>Title:</strong>
	  <%= @location.title %>
	</p>

	<p>
	  <strong>Directions:</strong>
	  <%= @location.description %>
	</p>

    <p>
	  <strong>Ubication:</strong>
	  <%= @location.location %>
	</p>
  <% if can? :manage, @location %>
	<%= link_to 'Edit', edit_location_path(@location) %> |
	<% end %>
	<%= link_to 'Back', locations_path %>


</div>
